@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    /* MAIN COLORS */
    --First-blue-color: #0B0D17;
    --First-gray-text-color: #D0D6F9;
    --White: #FFFFFF;

    /* MAIN TYPOGRAPHY  */
    --Font-Barlow: 'Barlow Condensed', sans-serif;
    --Font-Bellefair: 'Bellefair', serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-image: url('../img/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width:980px) {
    body {
        background-image: url('../img/home/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width:640px) {
    body {
        background-image: url('../img/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

